body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-sans: "Inria Sans";

  
  --font-size-11xl: 30px;
  --font-size-41xl: 60px;
  --font-size-16xl: 35px;

  
  --color-whitesmoke: #f8f5f4;
  --color-white: #fff;
  --color-black: #000;
  --color-dodgerblue: #3199fe;
  --color-gray: #808080;
  --color-darkslateblue: #17194b;

  
  --br-xl: 20px;
}
